* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

:root {
    --header-bg: #10375c;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    padding: 0 20px;
    border: 1px solid #2e80ce;
    height: var(--height);
    border-radius: 999px;
    line-height: var(--height);
    background: #2e80ce;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.logo {
    display: flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    color: #fff;
    text-align: right;
}

.logo_brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
}

.logo_brand--small {
    font-weight: 300;
    font-size: 1.2em;
}

/* Navbar */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    display: inline-block;
    padding: 8px 21px;
    color: #c9d2da;
    font-weight: 300;
    font-size: 1.6rem;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active {
    display: flex;
    align-items: center;
}

.navbar__link--active::before {
    content: "";
    /* Cach nay cung dung de chinh dau cham canh giua chu */
    /* position: relative;
    top: -2px;
    left: 8px; */
    display: inline-block;
    margin-right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
    margin-left: 7px;
}

/* Hero */
.hero {
    display: flex;
    margin-top: 76px;
}

.hero__content {
    width: 44%;
    /* Tranh truong hop hinh size to chua chinh se chiem vi tri va lam co phan content lai */
    flex-shrink: 0;
}

.hero__media {
    /* Vi head__content co width 44% roi thi flex-grow de hero__media
        chiem toan bo phan con lai */
    flex-grow: 1;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    display: flex;
    align-items: center;
    /* ↑：vi trong hero__row the a va the span la 2 the inline, no se co
        1 khoang trang o giua nen dung nay de mat khoang trang do di */
    margin-top: 38px;
}

.hero__row span {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
}
