* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

:root {
    --header-bg: #10375c;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    padding: 0 20px;
    border: 1px solid #2e80ce;
    height: var(--height);
    border-radius: 999px;
    line-height: var(--height);
    background: #2e80ce;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.section-desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.logo {
    display: flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    color: #fff;
    text-align: right;
}

.logo_brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
}

.logo_brand--small {
    font-weight: 300;
    font-size: 1.2em;
}

/* Navbar */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    display: inline-block;
    padding: 8px 21px;
    color: #c9d2da;
    font-weight: 300;
    font-size: 1.6rem;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active {
    display: flex;
    align-items: center;
}

.navbar__link--active::before {
    content: "";
    /* Cach nay cung dung de chinh dau cham canh giua chu */
    /* position: relative;
    top: -2px;
    left: 8px; */
    display: inline-block;
    margin-right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
    margin-left: 7px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
    padding-bottom: 110px;
}

.hero__content {
    width: 44%;
    /* Tranh truong hop hinh size to chua chinh se chiem vi tri va lam co phan content lai */
    flex-shrink: 0;
}

.hero__media {
    /* Vi head__content co width 44% roi thi flex-grow de hero__media
        chiem toan bo phan con lai */
    flex-grow: 1;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    display: flex;
    align-items: center;
    /* ↑：vi trong hero__row the a va the span la 2 the inline, no se co
        1 khoang trang o giua nen dung nay de mat khoang trang do di */
    margin-top: 38px;
}

.hero__row .hero__phone {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    /* ↑ dung de hinh anh van duoc dinh vi va duoc uu tien hon */
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Service */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    margin-bottom: 55px;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    /* transition nay dung de cac hover cua service-item thi se chuyen dong trong vong 0.25s */
    transition: 0.25s;
}

.service-item:hover {
    /* position relative de cho phan hover duoc noi len va se nam tren cac phan tu khac */
    position: relative;
    background: #ffffff;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.service-item:hover .service-item__icon {
    background-color: #2e80ce;
    color: #fff;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex shrink dung de icon khong bi meo trong bat ki TH nao */
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    color: #10375c;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

/* Work */
.work {
    padding: 110px 0;
    background: #f7fbff;
}

.work__desc {
    width: 468px;
}

.work__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 70px;
}

.work-item {
    padding: 44px;
    background: #fff;
    border: 16px solid #eaf6ff;
    transition: 0.25s;
}

.work-item:hover {
    /* Khi hover vao thi khung se bi dich len tren la 16px */
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work-item__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}

.work-item__desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2e80ce;
}
